body {
    background-image: url('https://images.unsplash.com/photo-1591025810539-a321000cda85?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80');
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: wrap;
}

.wrapper {
    background-color: rgb(222, 223, 213);
    width: 50%;
    margin-top: 0;
    height: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column;
}

footer {
    margin: 0;
    height: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-flow: wrap;
}

#g-index {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
}

.pg {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    width: 80%;
}


nav {
    margin-top: 0;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

nav ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
    list-style: none;
    text-align: center;
  }

  nav ul li a {
    text-decoration: none;
  }

  .common {
      border-top: 2px dotted blue;
      border-bottom: 2px dotted blue;
      margin: 0;
      height: 720px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: column;
  }

  .a-welcome {
      width: 100%;
      height: 20px;
      margin: 0;
      text-decoration: none;
      color: red;
      text-align: center;
  }

  .p-signup, .p-login, .new-p, .edit-p, #delete-p, .new-g {
      height: 30px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: row wrap;
  }

  #user-message, #player-message, #p-signup-message,
    #g-signup-message {
      color: blue;
      margin: 20px 20px 20px 20px;
  }

