#g-index {
    background-color: rgb(105, 105, 139);
}

#user-show {
    background-color: burlywood;
}

.notice {
    font-size: xx-large;
}

#players-box {
    background-color: dimgrey;
}

#welcome {
    background-color: goldenrod;
}