<div id="players-box">

<% if @players.size == 0%>
    <p>There are no players.</p>
<% else%>
    <% @players.each do |player|%>
        <h3>Band Member: <%= player.name%> *** Instrument: <%= player.instrument%> *** <%= player.user.username%> *** <%= player.id%></h3>
    <%end%>
<%end%>

</div>