<% if logged_in?%>
<form action="/players" method="post">
    Name: <input type="text" name="name">
    Instrument: <input type="text" name="instrument">
    <input type="submit" value="New Player">
</form>
<% else%>
    <p>You must be logged in to create a player</p>
<%end%>