<% if logged_in? %>
<form action="/gigs" method="post">
    Venue: <input type="text" name="venue">
    Date: <input type="text" name="date">
    Time: <input type="text" name="time">
    <input type="submit" value="New Gig">
</form>
<% else%>
    <p>You must be logged in to create a gig.</p>
<%end%>