<div class="common">
    <h1>Brooklyn Band Hub</h1>
    <h2>Let Brooklyn know when and where your band is performing!</h2>
    <a class="a-welcome" href="/signup">Sign Up</a><br>
    <a class="a-welcome" href="/login">Log In</a>
</div>